SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhdmNnaW5vemhnYnRqbW5tbWVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5MDE4NjAsImV4cCI6MjEwMTQ3Nzg2MH0.XBdoqJ8x9CoMoSrPLClgwRMa8ccLexqVdX1iEGwjiMw
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhdmNnaW5vemhnYnRqbW5tbWVlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTkwMTg2MCwiZXhwIjoyMTAxNDc3ODYwfQ.IzgswWmp2r5PdhPZUCiB0tB1FE5tyLMk4iTRjlj0Z9w
